{% extends 'back/base.html.twig' %}

{% block title %}Price index{% endblock %}

{% block body %}
    <h1>Price index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Price</th>
                <th>Property</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.id }}</td>
                <td>{{ price.name }}</td>
                <td>{{ price.startDate ? price.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ price.endDate ? price.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ price.price }}</td>
                <td>{{ price.property }}</td>
                <td>
                    <a href="{{ path('app_price_show', {'id': price.id}) }}">show</a>
                    <a href="{{ path('app_price_edit', {'id': price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_prices_new', {'id': property.id}) }}">Create new</a>
{% endblock %}
