<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-top-default fixed-top navbar-fixed-top">
    <!--Side Menu Button-->
    <div class="container">
        <a class="navbar-brand scroll" href="{{ path('app_front') }}">
            <img src="{{ asset('/uploads/logo.png') }}" alt="logo">
        </a>
        <!--Nav Links-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item  active">
                    <a class="nav-link " href="{{ path('app_front') }}">Home</a>
                </li>
{#                TODO: make it a dropdown#}

                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link dropdown-toggle mr-0" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Properties
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background: transparent;border:transparent">
                                {% for property in properties %}
{#                                    TODO:fix white background on hover#}
                                <a class="nav-link dropdown-item" href="{{  path('front_property_show',{ 'id': property.id }) }}">{{ property.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
{#                        TODO: create slug instead of using id in the link#}
{#                        <a class="nav-link" href="{{  path('front_property_show',{ 'id': property.id }) }}">{{ property.title }}</a>#}
                    </li>

                {% for page in pages %}
                <li class="nav-item">
                    <a class="nav-link" href="{{  path('front_pages_show',{ 'title': page.title}) }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
    <a href="javascript:void(0)" class="sidemenu_btn link" id="sidemenu_toggle">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a class="number">
{#        TODO: use host details to show email or phone#}
        <p>+1 631 123 4567 </p>
    </a>
</nav>
<!-- Navbar End -->
<!-- Side-Nav Start -->
<div class="side-menu side-menu-opacity">
    <div class="bg-overlay"></div>
    <div class="inner-wrapper">
        <a class="image scroll" href="#home">
            <img src="{{ asset('/uploads/logo.png') }}" alt="image">
        </a>
        <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
        <nav class="side-nav w-100">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scroll" href="{{ path('app_front') }}">Home</a>
                </li>
                {% for page in pages %}
                <li class="nav-item">
                    <a class="nav-link  scroll" href="{{  path('front_pages_show',{ 'title': page.title }) }}">{{ page.title }}</a>
                </li>
                {%  endfor %}
                {%  if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                </li>
                {%  endif %}
                <li class="nav-item">
                    <a class="nav-link scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="side-menu-footer">
            <div class="social-icons">
                <ul>
                    {% if settings.socialFB is not null %}
                    <li>
                        <a href="{{ settings.socialFB }}" class="hover"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    {%  endif %}
                    {% if settings.socialTwitter is not null %}
                    <li><a href="{{ settings.socialTwitter }}" class="hover"><i class="fab fa-twitter"></i></a></li>
                    {%  endif %}
                    {% if settings.socialLinkedIn is not null %}
                    <li><a href="{{ settings.socialLinkedIn }}" class="hover"><i class="fab fa-linkedin-in"></i></a></li>
                    {%  endif %}
                    {% if settings.socialInsta is not null %}
                    <li><a href="{{ settings.socialInsta }}" class="hover"><i class="fab fa-instagram"></i></a></li>
                    {%  endif %}
                </ul>
            </div>
            <p class="copywrite text-left">&#169; 2022 {{ settings.landingTitle }}. <br>Made With Love by Fabien.</p>
        </div>
    </div>
</div>
<a id="close_side_menu" href="javascript:void(0);"></a>
<!-- Side-Nav End -->