{% extends 'back/base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="ul-widget__head v-margin pb-20">
                <div class="ul-widget__head-label">
                    <h3 class="ul-widget__head-title">{{ property.title }}</h3>
                </div>
                <button class="btn bg-white _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span></button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(499px, 52px, 0px);">
                    <a class="dropdown-item" href="{{ path('app_property_edit', {'id': property.id}) }}">Edit</a>
                    <a class="dropdown-item" href="{{ path('app_property_pictures', {'id': property.id}) }}">Pictures</a>
                    <a class="dropdown-item" href="{{ path('app_property_prices', {'id': property.id}) }}">Prices</a>
                    <a class="dropdown-item" href="{{ path('app_property_bookings', {'id': property.id}) }}">Bookings</a>
{#                    <a class="dropdown-item" href="{{ path('app_property_section', {'id': property.id}) }}">Add Section</a>#}
                    <div class="dropdown-divider"></div>
                    {{ include('back/property/_delete_form.html.twig') }}
                </div>
            </div>
            <div class="ul-widget__body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ property.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ property.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ property.description }}</td>
                    </tr>
                    <tr>
                        <th>Bedrooms</th>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <th>Min_price</th>
                        <td>{{ property.minPrice }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ property.type }}</td>
                    </tr>
                    <tr>
                        <th>Pool</th>
                        <td>{{ property.pool }}</td>
                    </tr>
                    <tr>
                        <th>Gym</th>
                        <td>{{ property.gym }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ul-widget__body">
                <div class="row">
                    {% if property.pictures|length > 0 %}
                            {% for picture in property.pictures %}
                                {% if picture.room is not null %}
                                    {{ include('back/property/_pictureCard.html.twig') }}
                                {% endif %}
                            {%  endfor %}
                    {% else %}
                        <div class="alert alert-danger" role="alert"><strong class="text-capitalize">No Pictures!</strong> you don't have any pictures.<br/>
                            click <a href="{{ path('app_property_pictures', {'id': property.id}) }}">here</a> to add some pictures
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = () =>{
            let links = document.querySelectorAll("[data-delete]")
            for(link of links){
                link.addEventListener('click',function(e){
                    e.preventDefault()
                    if(confirm('Delete this image ?')){
                        fetch(this.getAttribute('href'),{
                            method: "DELETE",
                            headers: {
                                "X-Requested-With": "XMLHttpRequest",
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({"_token":this.dataset.token})
                        }).then(
                            response => response.json()
                        ).then(data=>{
                            if(data.success)
                                this.parentElement.parentElement.remove()
                            else
                                alert(data.error)
                        }).catch(e => alert(e))
                    }
                })
            }
        }
    </script>
{% endblock %}
