{% extends 'back/base.html.twig' %}

{% block title %}Upload{% endblock %}
{% block stylesheets%}
    {{ parent()}}
    <link href="{{ asset('back/css/plugins/dropzone.min.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Property Pictures</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{#    <div class="col-md-12 mb-4">#}
{#        <div class="card text-left">#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">multple upload</h4>#}
{#                <form class="dropzone" enctype="multipart/form-data" id="multple-file-upload" action="#">#}
{#                    <div class="fallback">#}
{#                        <input name="file" type="file" multiple="multiple" />#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/js/plugins/dropzone.min.js')}}"></script>
    <script src="{{ asset('back/js/scripts/dropzone.script.min.js')}}"></script>
{% endblock %}