<div class="col-md-3">
    <div class="card mb-4 o-hidden"><img class="card-img-top" src="{{ asset('/uploads/' ~ picture.filename) }}" alt="page picture">
        <div class="card-body">
            {% if picture.room  is not null %}
                <h5 class="card-title">{{ picture.room }}</h5>
            {% endif %}
            {% if picture.description  is not null %}
                <p class="card-text">{{ picture.description }}</p>
            {% endif %}
        </div>
        <div class="card-body">
            <a class="card-link" href="{{ path('page_section_edit',{id: picture.id}) }}">Edit Details</a>
            <a href="{{ path('app_page_picture_delete',{id: picture.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">Delete</a>
        </div>
    </div>
</div>