{% extends 'front/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/vendor/css/bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/css/wow.css') }}">
    <link rel="stylesheet" href="{{ asset('front/travelling/css/style.css') }}">
{% endblock %}
{% block body %}
    <!-- Banner Start -->
    <section class="banner" style="background: linear-gradient( rgba(77,156,202, 0.8), rgba(77,156,202, 0.8) ), url('{{ asset('uploads/' ~ page.banner.filename) }}');">
        <div class=" col-12 header-text text-center wow fadeInDown" data-wow-delay="1000ms">
            <h2 class="heading">{{ page.title }}</h2>
{#            <ul class="page-breadcrumb ">#}
{#                <li><a href="../index-travelling.html"><i class="fas fa-home mr-1"></i>Home <i class="fas fa-angle-double-right white-icon"></i></a></li>#}
{#                <li>StandAlone</li>#}
{#            </ul>#}
        </div>
{#        {{ dump(page) }}#}
    </section>
    <!-- Banner End -->
    <!-- Main Page Start -->
    <div class="main-page">
        <div class="container">
            <div class="standalone-heading text-center wow fadeInDown" data-wow-delay="1200ms">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 wow fadeInDown" data-wow-delay="300ms">
                        <p class="subheading">More infos about</p>
                        <h2 class="heading">{{ page.title }}</h2>
                        <p class="text m-auto ">{{ page.description|raw }}</p>
                    </div>
                </div>
            </div>
            <!-- Stand Alone text area -->
            <div class="standalone-area">
{#                {{ dump(page) }}#}

                {% for section in page.section %}
{#                    {{ dump(section) }}#}
                    {% if loop.index is divisible by(2) %}
                        {{ include('front/includes/_blockTextImageRight.html.twig') }}
                    {% else %}
                        {{ include('front/includes/_blockTextImageLeft.html.twig') }}
                    {% endif %}

                {% endfor %}

{#                <div class="row standalone-row align-items-center no-gutters">#}
{#                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 row-image hover-effect order-2 order-lg-1 wow fadeInLeft" data-wow-delay="300ms">#}
{#                        <img src="img/standalone-3.jpg" alt="image">#}
{#                        <div class="standaloneoverlay overlayBottom"></div>#}
{#                    </div>#}
{#                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 row-text order-1 order-lg-2 wow fadeInRight" data-wow-delay="300ms">#}
{#                        <p class="subheading">Most flexible one page</p>#}
{#                        <h2 class="heading">Standalone Heading</h2>#}
{#                        <p class=" text m-auto ">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin.</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <!-- Standalone area -->
        </div>
        <!-- Container End  -->
    </div>
    <!-- Main Page End -->
{% endblock %}
