<!-- Destination Section Start -->
<section class="destination-section" id="destinations">
    <div class="container">
        <div class="row no-gutters row-1">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center wow fadeInDown" data-wow-delay="400ms">
                <h2 class="heading">Explore Our <br><span>Luxuries Properties</span></h2>
                <p class="subheading">click on a listing to get more details</p>
            </div>
        </div>
        <!-- Row-2 Start -->
        <div class="row">
            {%  for property in properties %}
            <div class="col-lg-4 col-md-12 col-sm-12 destination wow fadeInDown" data-wow-delay="400ms">
                <a class="card" href="{{ path('front_property_show',{'id':property.id}) }}" >
                    <img src="{{ asset('/uploads/' ~ property.mainPicture.filename) }}"  alt="destination-img" style="width:347px">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }} <span></span></h5>

{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fas fa-star-half-alt half-checked"></span>#}
                        {% if searchDates|length > 0 %}
                            {% set rates = property.priceList %}
                            {% set sum = 0 %}
                            {%  for rate in rates %}
                                {%  set sum = sum + rate %}
                            {% endfor %}
                            <div class="card-text">
                                {{ rates|length }} nights - {{ sum|format_currency(settings.currency, {fraction_digit: 0}) }}
                            </div>
                        {%  else %}
                            <div class="card-text">
                                <span>From {{ property.minPrice|format_currency(settings.currency, {fraction_digit: 0})}} / night </span>
                            </div>
                        {% endif %}

                    </div>
                </a>
            </div>
            {% endfor %}
{#            {{ dump(properties) }}#}
        </div>
        <!-- Row-3 Start -->
{#        <div class="row row-3">#}
{#            <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInDown" data-wow-delay="400ms">#}
{#                <a class="card" href="travelling/destinations.html">#}
{#                    <img src="travelling/img/destination-4.jpg"  alt="destination-img">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Malan 103 <span>$5500</span></h5>#}
{#                        <div class="card-text">#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fas fa-star-half-alt half-checked"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">#}
{#                <a class="card" href="#.">#}
{#                    <img src="travelling/img/destination-5.jpg"  alt="destination-img">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">New York 143 <span>$2835</span></h5>#}
{#                        <div class="card-text">#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fas fa-star-half-alt half-checked"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInDown" data-wow-delay="400ms">#}
{#                <a class="card" href="travelling/destinations.html">#}
{#                    <img src="travelling/img/destination-6.jpg"  alt="destination-img">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Toronto 156 <span>$8000</span></h5>#}
{#                        <div class="card-text">#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fa fa-star checked"></span>#}
{#                            <span class="fas fa-star-half-alt half-checked"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
        <!-- Button Start -->
{#        <div class="button-center wow fadeInUp" data-wow-delay="400ms">#}
{#            <a class="btn button btn-rounded green-btn btn-hvr-blue "  href="travelling/destinations.html">#}
{#                View All Similar Destinations#}
{#            </a>#}
{#        </div>#}
    </div>
    <!-- Container End -->
</section>
<!-- Destination Section End -->