<!--Slider Section Start-->
<section class="slider-area position-relative" id="home">
    <div class="slider-overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 text-center text-area wow fadeInDown" data-wow-delay="1000ms">
                    <h5 class="subheading"></h5>
                    <h2 class="heading">{{ settings.landingTitle }}</h2>
                    <p class="text">{{ settings.landingText }}</p>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- Container End -->
    </div>
    <div class="social-icons">
        <ul class="slider-social wow fadeInRight" data-wow-delay="1000ms">
            {% if settings.socialFB is not null %}
            <li><a class="icon-hover wow" href="{{ settings.socialFB }}">
                    <i class="fab fa-facebook-f"></i></a>
            </li>
            {%  endif %}
            {% if settings.socialTwitter is not null %}
            <li><a class="icon-hover" href="{{ settings.socialTwitter }}">
                    <i class="fab fa-twitter"></i></a>
            </li>
            {%  endif %}
            {% if settings.socialLinkedIn is not null %}
            <li><a class="icon-hover" href="{{ settings.socialLinkedIn }}">
                    <i class="fab fa-linkedin-in"></i></a>
            </li>
            {%  endif %}
            {% if settings.socialInsta is not null %}
            <li><a class="icon-hover" href="{{ settings.socialInsta }}">
                    <i class="fab fa-instagram"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="text-center slider-carousel owl-carousel owl-themes active">
        {% for picture in settings.landingSliderPicture %}
        <div class="item active"><img src="{{ asset('/uploads/' ~ picture.filename) }}" alt="slider-img"></div>
        {%  endfor %}
    </div>

</section>
<!-- Slider Section End -->