<!--Slider form start-->
<div class="slider-form">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-delay="1000ms">
{#                <form class="row contact-form rounded-pill link" id="form-data">#}
{#                    <div class="col-12 col-lg-9 d-inline-block d-lg-flex align-items-center">#}
{#                        <div class="form-group">#}
{#                            <label for="datepicker"> <span class="fas fa-calendar-plus " aria-hidden="true"></span></label>#}
{#                            <input type="text" name='datepicker' class="form-control"  value="" id="datepicker"#}
{#                                   required="" placeholder="Check In" >#}
{#                        </div>#}
{#                        <div class="form-group ">#}
{#                            <label for="datepickr"> <span class="fas fa-calendar-minus" aria-hidden="true"></span></label>#}
{#                            <input type="text" name='datepickr' class="form-control"  value="" id="datepickr"#}
{#                                   required="" placeholder="Check Out" >#}
{#                        </div>#}
{#                        <div class="form-group ">#}
{#                            <label><i class="fa fa-user mr-2" aria-hidden="true"></i></label>#}
{#                            <select id="inputStates" class="form-control">#}
{#                                <option class="red">Adults</option>#}
{#                                <option>...</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label><i class="fas fa-users mr-2"  aria-hidden="true"></i></label>#}
{#                            <select id="inputState"  class="form-control">#}
{#                                <option>Children</option>#}
{#                                <option>...</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label><i class="fas fa-map-marker " aria-hidden="true"></i></label>#}
{#                            <input type="text" name="Location" placeholder="Location" id="location" required="" class="form-control">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-lg-3 button-center">#}
{#                        <a href="javascript:void(0);" class="btn button btn-rounded green-btn btn-hvr-grey">Search Destinations#}
{#                        </a>#}
{#                    </div>#}
{#                </form>#}
                {{ form_start(availability_form) }}
                {{ form_widget(availability_form) }}
                {{ form_errors(availability_form) }}
                <button class="btn" type="submit" >{{ button_label|default('Save') }}</button>
                {{ form_end(availability_form) }}
            </div>
        </div>
    </div>
</div>
<!--Slider form end-->